<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">EVENTOP</h1>
      <h3>Et c'est parti pour le show ?!! &#128064</h3>
      <p><a class="btn btn-primary btn-lg" href=<%= root_path %> role="button">Balance un potin &raquo;</a></p>
      <br/><br/>
    </div>
  </div>